zarr==2.16.1
dask==2025.2.0
dask-image==2024.5.3
distributed==2025.2.0
opencv-python==4.5.5.64
pylibtiff==0.5.1
zarr==2.16.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
nibabel==3.2.2
numpy<=2.0
pandas==2.1.0
tqdm==4.66.1
notebook
nnunetv2
monai==1.3.2
hydra-core==1.3.2
#dynamic_network_architectures==0.3.1





